body {
 font: 11pt Tiems New Roman;
 background-color: white;
 margin: 0;
 padding: 0 50px 50px 50px;
 background: url("../images/bg4.jpg") repeat top left transparent; 
 font-family: Calibri, serif;
}

#bg {
 width: 68%;
 position: relative;
 margin: auto;
 background: transparent;
}

#header {
 font-size: 1.2em;
 font: Arial;
 padding: 10px;
 margin-bottom: 0px;
 background: transparent;
 color: black;
 width: 800px;
 margin-left: 0px;
 margin-right: 150px;
}

#main {
 margin-left: 0px;
 margin-top: 10px;
 margin-right: 0px;
 padding: 0px;
 text-align: left;
 background: white;
 box-shadow: 0 0 5px #999;
}

#company {
 font-size: 1.1em;
 font: Georgia;
 text-align: justify;
 border-top: 1px solid black;
 background: white;
 padding: 10px;
 width: 720px;
 margin-right: 300px;
 box-shadow: 0 0 5px #999;
}

#examples {
 width: 400px;
 border-top: 1px solid black;
 float: right;
 padding: 10px;
 text-align: justify;
 font-size: 1.1em;
 font: Georgia; 
 background: white;
 box-shadow: 0 0 5px #999;
}

#footer {
 font-size: 1.2em;
 font: Arial;
 text-align: right;
 padding: 10px;
 margin-bottom: 10px;
 background: transparent;
 color: black;
 width: 100%;
 border-top: 1px solid black;
}

#mainslider {
	width: 100%;
	height: 100%;
	position: relative;
	border-top: 5px solid #999;
	border-bottom: 5px solid #999;
	margin: 0 auto;
}

a {
 text-decoration: none;
}

.nav {
    list-style: none;
    text-align: center;
    padding: 10px;
}

.nav li {
    float: left;
    position: relative;
    background: transparent;
}
/* круглые края */
.nav > li:first-of-type {
    border-radius: 5px 0 0 5px;
}

.nav > li:last-of-type {
    border-radius: 0 5px 5px 0;
}

.nav li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 15px;
    border-radius: 5px;
}

.nav li:hover .triangle {
    left: 15px;
}

.sub-nav li {
    white-space: nowrap;
    z-index: 1000;
}

.sub-nav > li:first-of-type {
    border-radius: 5px 5px 0 0;
}
.sub-nav > li:last-of-type {
    border-radius: 0 0 5px 5px;
}

.nav > li:hover > a {
    background: #2C3E50;
    transition: background ease .5s;
}

.sub-nav a {
    font-size: 90%;
    margin: 3px;
    transition: background ease .3s;
}
.sub-nav a:hover {
    background: #E74C3C;
}
